<div class="jumbotron jumbotron-fluid p-5" style="background-color:#c72c41;">
  <div class="container p-5">
    <h1 class="display-4 p-5 text-light" align="center">Todo List.</h1></div>
</div>

<div class="container">
    <CreateTask></CreateTask>

    <TaskList @task={{this.todos}} />
</div>