{{!-- <div class="card shadow border-0">
    <div class="card-body">
        <h4 class="card-title" align="center">{{@title}}</h4>
        <div class="row">
            <div class="col-10">
                <Input @type="text" @autocomplete="off" @value={{this.judul}} class="form-control" @placeholder="Mau Ngapain?" />
            </div>
            <div class="col-2">
                <button {{ on "click" (fn this.submit this.judul) }} class="btn btn-dark border-0" type="submit">Add</button>
            </div>
        </div>
    </div>
</div> --}}
<div class="container">
    <div class="row">
        <button type="button" class="btn border-0 btn-gw btn-dark" data-toggle="modal" data-target="#task-add">
            Add New Task
        </button>
        <div class="modal fade border-0" id="task-add" tabindex="-1" role="dialog" aria-labelledby="task-label" aria-hidden="true">
            <div class="modal-dialog p-3 modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 mb-1">
                                <Input @type="text" @autocomplete="off" @value={{this.judul}} class="form-control" @placeholder="Mau Ngapain?" />
                            </div>
                            <div class="col-12 mb-1">
                                <Textarea class="form-control" @value={{this.deskripsi}} placeholder="Deskripsi" rows="6" id="deskripsi" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button {{ on "click" (fn this.submit) }} data-dismiss="modal" class="btn btn-dark border-0" type="submit">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>