<div class="modal fade border-0" id="task-detail" tabindex="-1" role="dialog" aria-labelledby="task-label" aria-hidden="true">
    <div class="modal-dialog p-3 modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="task-label">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> --}}
                <button type="button" class="btn btn-dark border-0" style="background-color:#ff6348;">Save changes</button>
            </div>
        </div>
    </div>
</div>