<div class="card shadow border-0 p-0 mb-3 mt-3">
    <div class="card-body">
        <h3 class="card-title mb-3">Task List</h3>
        {{#each @task as |t|}}
        <div class="card mb-2">
            <div class="card-body">
                {{#if t.status}}
                    <span style="text-decoration: line-through;">{{t.judul}}</span>
                {{else}}
                    <span>{{t.judul}}</span>
                {{/if}}
                <div class="float-right">
                    <button type="button" {{ on "click" (fn this.editModal t) }} class="btn border-0 btn-dark" data-toggle="modal" data-target="#edit-task">Edit</button>
                    <button type="button" {{ on "click" (fn this.launchModal t) }} class="btn border-0 btn-gw btn-dark" data-toggle="modal" data-target="#task-detail">
                        Detail
                    </button >
                </div>
            </div>
        </div>
        {{/each}}

        {{!-- <TaskDetail /> --}}
    </div>

    <div class="modal fade border-0" id="edit-task" tabindex="-1" role="dialog" aria-labelledby="task-label" aria-hidden="true">
        <div class="modal-dialog p-3 modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 mb-1">
                            <Input @type="text" @autocomplete="off" @value={{this.task.judul}} class="form-control" @placeholder="Mau Ngapain?" />
                        </div>
                        <div class="col-12 mb-1">
                            <Textarea class="form-control" @value={{this.task.deskripsi}} placeholder="Deskripsi" rows="6" id="deskripsi" />
                        </div>
                        <div class="col-12">
                            <button class="btn btn-dark border-0" data-dismiss="modal" {{ on "click" (fn this.editData this.task.id) }}>Save</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> --}}
                    {{#if this.task.status}}
                        <button type="button" class="btn btn-dark btn-gw border-0 disabled" disabled>Selese</button>
                    {{else}}
                        <button type="button" class="btn btn-dark btn-gw border-0" data-dismiss="modal" {{ on "click" (fn this.completeTask this.task.id) }}>Mark To Completed</button>
                    {{/if}}
                    <button type="button" {{ on "click" (fn this.deleteData this.task.id) }} data-dismiss="modal" class="btn btn-dark border-0">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade border-0" id="task-detail" tabindex="-1" role="dialog" aria-labelledby="task-label" aria-hidden="true">
        <div class="modal-dialog p-3 modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="task-label">{{this.task.judul}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{this.task.deskripsi}}
                </div>
                <div class="modal-footer">
                    {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> --}}
                    {{#if this.task.status}}
                        <button type="button" class="btn btn-dark btn-gw border-0 disabled" disabled>Selese</button>
                    {{else}}
                        <button type="button" class="btn btn-dark btn-gw border-0" {{ on "click" (fn this.completeTask this.task.id) }}>Mark To Completed</button>
                    {{/if}}
                    <button type="button" {{ on "click" (fn this.deleteData this.task.id) }} data-dismiss="modal" class="btn btn-dark border-0">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>